---
layout: base
search_exclude: true
permalink: /mean/onesample/interval/
categories: Means
---

<head>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script type="text/javascript" id="jstat" async src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<style>

    .tableinputclear {
        background-color: #062827;
        color: white;
        border: 0px;
        width: 99%;
    }
    
    .tableinputclear:focus {
        background-color: #062827;
        outline: none;
        color: white;
        border: 0px solid;
    }

    .tableselectclear {
        background-color: #062827;
        color: white;
        border: 0px;
        width: 99%;
        background-image: none;
    }
    
    ::placeholder {
        font-style: italic;
        color: #a1a1a1;
    }

    .stepcard {
        background-color: #062827;
        color: white;
        border: 1px solid white;
        width: 99%;
        border-radius: 8px;
        padding: 1em;
        padding-top: 0;
        margin-bottom: 1em;
    }
    
    
</style>

{% include capybar.html %}

<h2> One Sample T-Interval for a Mean </h2>

<table>
    <tr>
        <th>
            Confidence Level
        </th>
        <td>
            <input type="number" id="conflevel" placeholder="0.95" class="tableinputclear">
        </td>
    </tr>
    <tr>
        <th>
            Sample Mean (x̄)
        </th>
        <td>
            <input type="number" id="samplemean" placeholder="Sample Mean" class="tableinputclear">
        </td>
    </tr>
    <tr>
        <th>
            Sample Standard Deviation (Sx)
        </th>
        <td>
            <input type="number" id="samplesd" placeholder="Sample Standard Deviation" class="tableinputclear">
        </td>
    </tr>
    <tr>
        <th>
            Sample Size (n)
        </th>
        <td>
            <input type="number" id="samplesize" placeholder="Sample Size" class="tableinputclear">
        </td>
    </tr>
</table>

<center>
    <input class="button" type="button" value="Run Test" onclick="calculate()">
</center>

<div id="resultsContainer" style="display: none">
    <h2>Results</h2>
    <div id="stateSteps" class="stepcard">
        <h3>State</h3>
        <p id="stateCL"></p>
        <p id="statePE"></p>
    </div>
    <div id="planSteps" class="stepcard">
        <h3 id="plantitle">Plan - interval for μ</h3>
        <p id="random"><u>Random sample</u>: Must be determined by you. Is this a random sample or random assignment in an experiment?</p>
        <p id="10percent"><u>10% rule</u>: Must be determined by you. Is your sample size smaller than 10% of the population?</p>
        <p id="largecounts"></p>
    </div>
    <div id="calculateSteps" class="stepcard">
        <h3>Calculate</h3>
        <p id="dfVal" style="height: 80px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
        <p id="formula" style="height: 90px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
        <p id="pluggedin" style="height: 90px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
        <p id="resultInterval" style="height: 80px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
        <!-- <p id="calculateOutput" style="height: 90px; max-height: 100px; overflow: auto; width: 100%"></p> -->
        <!-- <p style="color: rgb(175, 175, 175)"><i>Make sure to draw a t-distribution curve, label it, and shade in the appropriate p-value.</i></p> -->
    </div>
    <div id="concludeSteps" class="stepcard">
        <h3>Conclude</h3>
        <p id="concludeOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i> Please keep in mind that you should always write your conclusion in the context of the problem.</i></p>
    </div>
</div>

<script>
    function calculate() {
        // get variables from inputs
        var conflevel = parseFloat(document.getElementById("conflevel").value);
        var samplemean = parseFloat(document.getElementById("samplemean").value);
        var samplesd = parseFloat(document.getElementById("samplesd").value);
        var samplesize = parseFloat(document.getElementById("samplesize").value);

        // check if inputs are valid
        if (isNaN(conflevel) || isNaN(samplemean) || isNaN(samplesd) || isNaN(samplesize)) {
            alert("Please enter valid numbers for all inputs.");
            return;
        }

        // check if confidence level is between 0 and 1
        if (conflevel <= 0 || conflevel >= 1) {
            alert("Please enter a confidence level between 0 and 1.");
            return;
        }

        // check if sample size is greater than 0
        if (samplesize <= 0) {
            alert("Please enter a sample size greater than 0.");
            return;
        }
        // check large counts condition for the test
        if (samplesize >= 30) {
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Since n ≥ 30, the sample size is large enough for the Central Limit Theorem to apply.";
        } else {
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Since n < 30, the sample size is not large enough for the Central Limit Theorem to apply. However, you can examine a dotplot of the sample to see if there is no strong skew or outliers, and if so, you can still proceed with the test below.";
        }
        
        // write out point estimate
        var peText = "Point estimate: x̄ = " + samplemean;

        // convert confidence level to percentage
        confPerc = conflevel * 100;
        confPerc.toFixed(0);
        var stateCL = "Confidence Level: " + confPerc + "%";
        document.getElementById("stateCL").innerHTML = stateCL;

        // change plan title to fit confidence level
        var plantitle = "Plan - " + confPerc + "% confidence interval for μ";
        document.getElementById("plantitle").innerHTML = plantitle;

        // calculate degrees of freedom
        var df = samplesize - 1;
        var dfVal = "$$df = " + samplesize + " - 1 = "+ df + "$$"
        document.getElementById("dfVal").innerHTML = dfVal;
        MathJax.typesetPromise([document.getElementById("dfVal")], dfVal).then(function () {}).catch(function (err) {});

        // calculate t-star
        var tstar = Math.abs(jStat.studentt.inv((1 - conflevel) / 2, df));
        // calculate margin of error
        var moe = (tstar * (samplesd / Math.sqrt(samplesize)));

        // calculate lower and upper bounds
        var lower = samplemean - moe;
        var upper = samplemean + moe;
        tstar = tstar.toFixed(4);
        moe = moe.toFixed(4);
        lower = lower.toFixed(4);
        upper = upper.toFixed(4);

        // create formula string and plugged in values and final value
        var formula = "$$\\text{Confidence Interval } = \\bar{x} \\pm t^*\\frac{s}{\\sqrt{n}}$$";
        var pluggedin = "$$\\text{CI} = " + samplemean + " \\pm " + tstar + "\\frac{" + samplesd + "}{\\sqrt{" + samplesize + "}}$$";
        var final = "$$\\text{CI} = " + lower + " \\text{ to } " + upper + "$$";

        // display formula and plugged in values
        document.getElementById("formula").innerHTML = formula;
        document.getElementById("pluggedin").innerHTML = pluggedin;
        document.getElementById("resultInterval").innerHTML = final;
        MathJax.typesetPromise([document.getElementById("formula"), document.getElementById("pluggedin"), document.getElementById("resultInterval")], formula, pluggedin, final).then(function () {}).catch(function (err) {});

        // write conclusion
        var conclusion = "We are " + confPerc + "% confident that the true mean is captured by the interval from " + lower + " to " + upper + ".";
        document.getElementById("concludeOutput").innerHTML = conclusion;
        document.getElementById("concludeOutput").style.color = "#e89734";

        // show results container
        document.getElementById("resultsContainer").style.display = "block";

    }
</script>
