---
layout: base
permalink: /proportion/twosample/test/
categories: Proportions
---

<head>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script type="text/javascript" id="jstat" async src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>





<h2> Two Sample (2-Prop) Z-Test for a Proportion </h2>

<table>
    <tr>
        <th>
            Direction
        </th>
        <td>
            <select class="tableselectclear" id="direction" name="direction">
                <option value="0">Two-Tailed (p1 ≠ p2)</option>
                <option value="-1">Left-Tailed (p1 < p2)</option>
                <option value="1">Right-Tailed (p1 > p2)</option>
            </select>
        </td>
    </tr>
    <tr>
        <th>
            Significance Level (α)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="alpha" name="alpha" placeholder="Alpha Value">
        </td>
    </tr>
    <tr>
        <th>
            Sample Size of Proportion 1 (n<sub>1</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="n1" name="n1" placeholder="Sample Size">
        </td>
    </tr>
    <tr>
        <th>
            Number of Successes of Proportion 1 (x<sub>1</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="x1" name="x1" placeholder="Number of Successes">
        </td>
    </tr>
    <tr>
        <th>
            Sample Size of Proportion 2 (n<sub>2</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="n2" name="n2" placeholder="Sample Size">
        </td>
    </tr>
    <tr>
        <th>
            Number of Successes of Proportion 2 (x<sub>2</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="x2" name="x2" placeholder="Number of Successes">
        </td>
    </tr>
</table>

<center>
    <input class="button" type="button" value="Run Test" onclick="calculate()">
</center>

<div id="resultsContainer" style="display: none">
    <h2>Results</h2>
    <div id="stateSteps" class="stepcard">
        <h3>State</h3>
        <p id="stateHo"></p>
        <p id="stateHa"></p>
        <p style="color: rgb(175, 175, 175)"><i>Make sure to state what your parameters (p<sub>1</sub> and p<sub>2</sub>) means in context!</i></p>
        <p id="stateAlpha"></p>
    </div>
    <div id="planSteps" class="stepcard">
        <h3>Plan - One-sample z-test for p</h3>
        <p id="random"><u>Random sample</u>: Must be determined by you. Is this a random sample or random assignment in an experiment?</p>
        <p id="10percent"><u>10% rule</u>: Must be determined by you. Is your sample size smaller than 10% of the population?</p>
        <p id="largecounts"></p>
    </div>
    <div id="calculateSteps" class="stepcard">
        <h3>Calculate</h3>
        <p id="pHat"></p>
        <p id="formula" style="height: 150px; font-size: x-large; max-height: 150px; overflow: auto; width: 100%"></p>
        <!-- <p id="calculateOutput" style="height: 90px; max-height: 100px; overflow: auto; width: 100%"></p> -->
        <p id="pVal"></p>
        <p style="color: rgb(175, 175, 175)"><i>Make sure to draw a normal curve, label it, and shade in the appropriate p-value.</i></p>
    </div>
    <div id="concludeSteps" class="stepcard">
        <h3>Conclude</h3>
        <p id="concludeOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i> Please keep in mind that this conclusion is a generic conclusion based on the values put into the table, but will not always reflect what a proper conclusion should look like in context.</i></p>
    </div>
</div>

<script>
    function calculate() {
        // get values from inputs
        var direction = document.getElementById("direction").value;
        var alpha = document.getElementById("alpha").value;
        var n1 = document.getElementById("n1").value;
        var x1 = document.getElementById("x1").value;
        var n2 = document.getElementById("n2").value;
        var x2 = document.getElementById("x2").value;


        // check if any values are empty
        // nullHypo == "" || altHypo == "" || 
        if (alpha == "" || n1 == "" || x1 == "" || n2 == "" || x2 == "") {
            alert("Please make sure all fields are filled in!");
            return;
        }

        // check if alpha is between zero and one
        if (alpha <= 0 || alpha >= 1) {
            alert("Please make sure your significance level (α) is between zero and one!");
            return;
        }

        // check if sample size is greater than zero
        if (n1 <= 0 || n2 <= 0) {
            alert("Please make sure your sample size (n) is greater than zero!");
            return;
        }

        var concDirectionWord;
        var hypSymbol;        
        // check direction for correct hypothesis direction
        if (direction == 0) {
            hypSymbol = "≠";
            concDirectionWord = " different from ";
        }
        else if (direction == 1) {
            hypSymbol = ">";
            concDirectionWord = " greater than ";
        }
        else if (direction == -1) {
            hypSymbol = "<";
            concDirectionWord = " less than ";
        }

        // put hypotheses and alpha in state box
        document.getElementById("stateHo").innerHTML = "H<sub>0</sub>: p<sub>1</sub> = p<sub>2</sub>";
        document.getElementById("stateHa").innerHTML = "H<sub>a</sub>: p<sub>1</sub> " + hypSymbol + " p<sub>2</sub>";
        document.getElementById("stateAlpha").innerHTML = "α = " + alpha;

        // establish number of failures
        var f1 = n1 - x1;
        var f2 = n2 - x2;
        var largeCounts = true;
        if (f1 < 10 || x1 < 10) {
            // case if large counts not met
            document.getElementById("resultsContainer").style.display = "block";
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Successes and failures for each group must each be greater than 10. You may not proceed with the test. (Successes = " + x1 + ", Failures = " + f1 + " for group 1)";
            document.getElementById("calculateSteps").style.display = "none";
            document.getElementById("concludeSteps").style.display = "none";
            return;
        }
        else if (f2 < 10 || x2 < 10) {
            // case if large counts not met
            document.getElementById("resultsContainer").style.display = "block";
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Successes and failures for each group must each be greater than 10. You may not proceed with the test. (Successes = " + x2 + ", Failures = " + f2 + " for group 2)";
            document.getElementById("calculateSteps").style.display = "none";
            document.getElementById("concludeSteps").style.display = "none";
            return;
        }
        else {
            document.getElementById("resultsContainer").style.display = "block";
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Successes and failures are each greater than or equal to 10. (Successes = " + x1 + ", Failures = " + f1 + " for group 1. Sucesses =  " + x2 + ", Failures = " + f2 + " for group 2). <br/> Therefore, the condition is met and you may proceed with the test.";
            document.getElementById("calculateSteps").style.display = "block";
            document.getElementById("concludeSteps").style.display = "block";
        }

        // calculate p-hats
        var p1 = x1/n1;
        var p2 = x2/n2;
        var pc = (x1 + x2) / (n1 + n2);
        var p1Statement = "$$\\hat{p}_1 = \\frac{" + x1 + "}{" + n1 + "} = " + p1.toFixed(4) + "$$";
        var p2Statement = "$$\\hat{p}_2 = \\frac{" + x2 + "}{" + n2 + "} = " + p2.toFixed(4) + "$$";
        var pcStatement = "$$\\hat{p}_c = \\frac{" + x1 + " + " + x2 + "}{" + n1 + " + " + n2 + "} = " + pc.toFixed(4) + "$$";
        document.getElementById("pHat").innerHTML = p1Statement + ", " + p2Statement + ", " + pcStatement;
        MathJax.typesetPromise([document.getElementById("pHat")], pHatStatement).then(function () {}).catch(function (err) {});

        // calculate entire z statistic
        var zStat = (p1 - p2) / Math.sqrt((pc * (1 - pc)) / (n1 + n2));
        var zStatStatement = "$$z = \\frac{(\\hat{p}_1 - \\hat{p}_2) - (p_1 - p_2)}{\\sqrt{\\frac{\\hat{p}_c(1 - \\hat{p}_c)}{n_1}} + \\frac{\\hat{p}_c(1 - \\hat{p}_c)}{n_2}}} = \\frac{()" 
                                + p1.toFixed(4) + " - " + p2.toFixed(4) + ") - 0}{\\sqrt{\\frac{" + pc.toFixed(4) + "(1 - " +  pc.toFixed(4) + "}{" + n1 + "}} + \\frac{" + pc.toFixed(4) + "(1 - " +  pc.toFixed(4) + "}{" + n2 + "}}} = " + zStat.toFixed(4) + "$$";
        document.getElementById("formula").innerHTML = zStatStatement;
        MathJax.typesetPromise([document.getElementById("formula")], zStatStatement).then(function () {}).catch(function (err) {});

        var calcZ = zStat;

        // check if z is positive or negative and check if left/right tailed to set calcT
        if (direction == 0) {
            calcZ = - Math.abs(zStat);
        } else if (direction == -1) {
            if (zStat > 0) {
                calcZ = Math.abs(zStat);
            }
            else {
                calcZ = - Math.abs(zStat);
            }
        }
        else if (direction == 1) {
            if (zStat < 0) {
                calcZ = Math.abs(zStat);
            }
            else {
                calcZ = - Math.abs(zStat);
            }
        }

        // calculate p-value
        var p = jStat.normal.cdf(calcZ, 0, 1);

        // put p-value in calculate box
        var pVal = "$$p = " + p.toFixed(4) + "$$";
        // if two-tailed then we need to multiply p-value by two
        if (direction == 0) {
            pVal = "$$p = " + p.toFixed(4) + " * 2 = "+ (p * 2).toFixed(4) + "$$";
            p = p * 2;
        }

        document.getElementById("pVal").innerHTML = pVal;
        MathJax.typesetPromise([document.getElementById("pVal")], pVal).then(function () {}).catch(function (err) {});

        if (p < alpha) {
            document.getElementById("concludeOutput").innerHTML = "Because our p-value " + p.toFixed(4) + " is less than our alpha value " + alpha +
            ", we reject the null hypothesis as there is convincing evidence that the true population proportion is" + concDirectionWord + popProp + ".";
        }
        else {
            document.getElementById("concludeOutput").innerHTML = "Because our p-value " + p.toFixed(4) + " is greater than our alpha value " + alpha +
            ", we fail to reject the null hypothesis as there is not convincing evidence that the true population proportion is" + concDirectionWord + popProp + ".";
        }

        document.getElementById("concludeOutput").style.color = "#e89734";

        // show results container
        document.getElementById("resultsContainer").style.display = "block";
        

    }
</script>