---
layout: base
permalink: /proportion/twosample/interval/
categories: Proportions
---

<head>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script type="text/javascript" id="jstat" async src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>





<h2> Two Sample (2-Prop) Z-Test for a Difference in Proportions </h2>

<table>
    <tr>
        <th>
            Confidence Level
        </th>
        <td>
            <input class="tableinputclear" type="number" id="confidence" name="confidence" placeholder="0.95">
        </td>
    </tr>
    <tr>
        <th>
            Number of Successes of Proportion 1 (x<sub>1</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="x1" name="x1" placeholder="Number of Successes">
        </td>
    </tr>
    <tr>
        <th>
            Sample Size of Proportion 1 (n<sub>1</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="n1" name="n1" placeholder="Sample Size">
        </td>
    </tr>
    <tr>
        <th>
            Number of Successes of Proportion 2 (x<sub>2</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="x2" name="x2" placeholder="Number of Successes">
        </td>
    </tr>
    <tr>
        <th>
            Sample Size of Proportion 2 (n<sub>2</sub>)
        </th>
        <td>
            <input class="tableinputclear" type="number" id="n2" name="n2" placeholder="Sample Size">
        </td>
    </tr>
</table>

<center>
    <input class="button" type="button" value="Run Test" onclick="calculate()">
</center>

<div id="resultsContainer" style="display: none">
    <h2>Results</h2>
    <div id="stateSteps" class="stepcard">
        <h3>State</h3>
        <p id="stateCL"></p>
        <p id="statePE"></p>
        <p style="color: rgb(175, 175, 175)"><i>Make sure to state what your parameters (p<sub>1</sub> and p<sub>2</sub>) mean in context!</i></p>
    </div>
    <div id="planSteps" class="stepcard">
        <h3 id="plantitle">Plan - One-sample z-interval for p</h3>
        <p id="random"><u>Random sample</u>: Must be determined by you. Is this a random sample or random assignment in an experiment?</p>
        <p id="10percent"><u>10% rule</u>: Must be determined by you. Is your sample size smaller than 10% of the population?</p>
        <p id="largecounts"></p>
    </div>
    <div id="calculateSteps" class="stepcard">
        <h3>Calculate</h3>
        <p id="pHat"></p>
        <p id="formula" style="height: 110px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
        <center>
            <p style="color: rgb(175, 175, 175)"><i>To find our critical z* value, you can use the inverse normal function on your calculator or use a table with critical values. </i></p>
        </center>
        <p id="pluggedin" style="height: 100px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
        <p id="resultInterval" style="height: 80px; font-size: large; max-height: 130px; overflow: auto; width: 100%"></p>
    </div>
    <div id="concludeSteps" class="stepcard">
        <h3>Conclude</h3>
        <p id="concludeOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i> Please keep in mind that this conclusion is a generic conclusion based on the values put into the table, but will not always reflect what a proper conclusion should look like in context.</i></p>
    </div>
</div>

<script>

function calculate() {
    // get variables from inputs
    var conflevel = parseFloat(document.getElementById("confidence").value);
    var n1 = document.getElementById("n1").value;
    var x1 = document.getElementById("x1").value;
    var n2 = document.getElementById("n2").value;
    var x2 = document.getElementById("x2").value;

    // check if any values are empty
    // nullHypo == "" || altHypo == "" || 
    if (conflevel == "" || n1 == "" || x1 == "" || n2 == "" || x2 == "") {
        alert("Please make sure all fields are filled in!");
        return;
    }

    // check if conflevel is between zero and one
    if (conflevel <= 0 || conflevel >= 1) {
        alert("Please make sure your significance level (α) is between zero and one!");
        return;
    }

    // check if sample size is greater than zero
    if (n1 <= 0 || n2 <= 0) {
        alert("Please make sure your sample size (n) is greater than zero!");
        return;
    }

    // establish number of failures
    var f1 = n1 - x1;
    var f2 = n2 - x2;
    var largeCounts = true;
    if (f1 < 10 || x1 < 10) {
        // case if large counts not met
        document.getElementById("resultsContainer").style.display = "block";
        document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Successes and failures for each group must each be greater than 10. You may not proceed with the test. (Successes = " + x1 + ", Failures = " + f1 + " for group 1)";
        document.getElementById("calculateSteps").style.display = "none";
        document.getElementById("concludeSteps").style.display = "none";
        return;
    }
    else if (f2 < 10 || x2 < 10) {
        // case if large counts not met
        document.getElementById("resultsContainer").style.display = "block";
        document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Successes and failures for each group must each be greater than 10. You may not proceed with the test. (Successes = " + x2 + ", Failures = " + f2 + " for group 2)";
        document.getElementById("calculateSteps").style.display = "none";
        document.getElementById("concludeSteps").style.display = "none";
        return;
    }
    else {
        document.getElementById("resultsContainer").style.display = "block";
        document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Successes and failures are each greater than or equal to 10. (Successes = " + x1 + ", Failures = " + f1 + " for group 1. Sucesses =  " + x2 + ", Failures = " + f2 + " for group 2). <br/> Therefore, the condition is met and you may proceed with the test.";
        document.getElementById("calculateSteps").style.display = "block";
        document.getElementById("concludeSteps").style.display = "block";
    }

    // calculate p-hats
    var p1 = x1/n1;
    var p2 = x2/n2;
    var pHatStatement = "$$\\hat{p}_1 = \\frac{" + x1 + "}{" + n1 + "} = " + p1.toFixed(4) + 
                        "\\hspace{15mm}  \\hat{p}_2 = \\frac{" + x2 + "}{" + n2 + "} = " + p2.toFixed(4) + "$$";
    document.getElementById("pHat").innerHTML = pHatStatement;
    MathJax.typesetPromise([document.getElementById("pHat")], pHatStatement).then(function () {}).catch(function (err) {});
    
    // write out point estimate
    var peText = "Point estimate: p̂<sub>1</sub> - p̂<sub>2</sub> = " + p1.toFixed(4) + " - " + p2.toFixed(4) + " = " + (p1 - p2).toFixed(4);
    document.getElementById("statePE").innerHTML = peText;

    // convert confidence level to percentage
    confPerc = conflevel * 100;
    confPerc.toFixed(0);
    var stateCL = "Confidence Level: " + confPerc + "%";
    document.getElementById("stateCL").innerHTML = stateCL;

    // change plan title to fit confidence level
    var plantitle = "Plan - " + confPerc + "% confidence interval for p";
    document.getElementById("plantitle").innerHTML = plantitle;

    // calculate z-star
    var zstar = jStat.normal.inv((1 + conflevel) / 2, 0, 1);

    // calculate margin of error
    var moe = zstar * Math.sqrt(((p1 * (1 - p1)) / n1) + ((p2 * (1 - p2)) / n2));

    // calculate lower and upper bounds
    var lower = (p1 - p2) - moe;
    var upper = (p1 - p2) + moe;
    zstar = zstar.toFixed(4);
    moe = moe.toFixed(4);
    lower = lower.toFixed(4);
    upper = upper.toFixed(4);

    // create formula string and plugged in values and final values, use phat in formula
    var formula = "$$\\text{CI} = \\text{point estimate} \\pm z^* \\sqrt{\\frac{\\hat{p}_1 (1 - \\hat{p}_1)}{n_1} + \\frac{\\hat{p}_2 (1 - \\hat{p}_2)}{n_1}}$$";
    var pluggedin = "$$\\text{CI} = (" + p1 + " - " + p2 + ") \\pm " + zstar + "\\sqrt{\\frac{" + p1 + " (1 - " + p1 + ")}{" + n1 + "} + \\frac{" + p2 + " (1 - " + p2 + ")}{" + n2 + "}}$$";
    var final = "$$\\text{CI} = " + lower + " \\text{ to } " + upper + "$$";

    // display formula and plugged in values
    document.getElementById("formula").innerHTML = formula;
    document.getElementById("pluggedin").innerHTML = pluggedin;
    document.getElementById("resultInterval").innerHTML = final;
    MathJax.typesetPromise([document.getElementById("formula"), document.getElementById("pluggedin"), document.getElementById("resultInterval")], formula, pluggedin, final).then(function () {}).catch(function (err) {});

    // write conclusion
    var conclusion = "We are " + confPerc + "% confident that the true population is captured by the interval from " + lower + " to " + upper + ".";
    document.getElementById("concludeOutput").innerHTML = conclusion;
    document.getElementById("concludeOutput").style.color = "#e89734";

    // show results container
    document.getElementById("resultsContainer").style.display = "block";

}

</script>