---
layout: base
permalink: /x2/2-way/
categories: Chi-Squared Tests
---

<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
<head>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script type="text/javascript" id="jstat" async src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<style>

    .tableinputclear {
        background-color: #062827;
        color: white;
        border: 0px;
        width: 99%;
    }
    
    .tableinputclear:focus {
        background-color: #062827;
        outline: none;
        color: white;
        border: 0px solid;
    }
    
    ::placeholder {
        font-style: italic;
        color: #a1a1a1;
    }

    .stepcard {
        background-color: #062827;
        color: white;
        border: 1px solid white;
        width: 99%;
        border-radius: 8px;
        padding: 1em;
        padding-top: 0;
        margin-bottom: 1em;
    }
    
    
</style>



<h2> Chi Squared Test - 2-Way Test</h2>

<p>Row and column values are excluding category titles and total rows/columns.</p>

<form>
    <table>
        <tr>
            <td>
                <input class="tableinputclear" type="number" id="rowCount" name="rowCount" placeholder="# of Rows">
            </td>
            <td>
                <input class="tableinputclear" type="number" id="columnCount" name="columnCount" placeholder="# of Columns">
            </td>   
        </tr>
    </table>
    <center>
        <input class="button" type="button" value="Create Table" onclick="createTable()" style="margin-bottom: 2em">
    </center>
</form>  

<div id="tableContainer"></div>

<center>
    <input class="button" type="button" value="Run Test" onclick="calculate()">
</center>
<div id="resultsContainer" style="display: none">
    <h2>Expected and Component Values</h2>
    <table><tr><td>
        <h3>Key</h3>
        <p>Expected Value</p>
        <p style="color: #e89734">Component Value</p>
    </td></tr>
    </table>
    <div id="expectedContainer">
        <table id="expectedTable">
        </table>
    </div>
    <h2>Results</h2>
    <div id="stateSteps" class="stepcard">
        <h3>State</h3>
        <p id="stateHo"></p>
        <p id="stateHa"></p>
        <p id="stateAlpha"></p>
    </div>
    <div id="planSteps" class="stepcard">
        <h3>Plan - Chi-squared test for independence/homogeneity</h3>
        <p id="random"></p>
        <p id="10percent"></p>
        <p id="largecounts"></p>
    </div>
    <div id="calculateSteps" class="stepcard">
        <h3>Calculate</h3>
        <p id="formula" style="height: 90px; max-height: 100px; overflow: auto; width: 100%"></p>
        <p id="calculateOutput" style="height: 90px; max-height: 100px; overflow: auto; width: 100%"></p>
        <p id="dfVal"></p>
        <p id="pVal"></p>
        <p style="color: rgb(175, 175, 175)"><i>Make sure to draw a chi-squared curve, label it, and shade in the appropriate p-value.</i></p>
    </div>
    <div id="concludeSteps" class="stepcard">
        <h3>Conclude</h3>
        <p id="concludeOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i> Please keep in mind that this conclusion is based on the hypotheses that were put into the table, but will not always reflect what a proper conclusion should look like in context.</i></p>
    </div>
    <div id="followUpSteps" class="stepcard">
        <h3>Follow Up</h3>
        <p id="followUpOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i>For the follow up, also try to keep it in context whenever possible.</i></p>
    </div>
</div>

<script>

    function calculate() {
        const table = document.getElementById("valuetable");
        const rowCount = table.rows.length;
        const columnCount = table.rows[0].cells.length;
        var rowTotals = [];
        var columnTotals = [];
        var grandTotal = 0;
        var observedValues = [];
        var expectedValues = [];
        var compValues = [];
        var chiSquared = 0;
        const df = (rowCount - 1) * (columnCount - 1);
        var pValue = 0;
        var rowLabels = [];
        var columnLabels = [];

        // unhide results container
        document.getElementById("resultsContainer").style.display = "block";
        document.getElementById("followUpSteps").style.display = "none";

        // get hypotheses and put them in state box
        const nullHypothesis = document.getElementById("nullHypothesis").value;
            document.getElementById("stateHo").innerHTML = "H<sub>o</sub>: " + nullHypothesis;
        const alternativeHypothesis = document.getElementById("alternativeHypothesis").value;
            document.getElementById("stateHa").innerHTML = "H<sub>a</sub>: " + alternativeHypothesis;
        
        // get alpha value and check if it is between 0 and 1
        const alphaVal = parseFloat(document.getElementById("alphaVal").value);
        if (document.getElementById("alphaVal") == "") {
            alert("Please enter a valid alpha value!");
            return;
        }
        else if (alphaVal >= 1 || alphaVal <= 0) {
            alert("Alpha value must be between 0 and 1!");
            return;
        }
        
        document.getElementById("stateAlpha").innerHTML = "α = " + alphaVal;

        // Get row and column totals and push to total arrays
        for (let i = 0; i < rowCount; i++) {
            const row = table.rows[i];
            let rowTotal = 0;
            var tempArray = [];
            for (let j = 0; j < columnCount; j++) {
                const cell = row.cells[j];
                const input = cell.children[0];
                const value = input.value;
                if (value == "") {
                    alert("Please fill in all values");
                    return;
                }
                tempArray.push(parseInt(value));
                rowTotal += parseInt(value);
                if (i == 0) {
                    columnTotals.push(parseInt(value));
                } else {
                    columnTotals[j] += parseInt(value);
                }
            }
            observedValues.push(tempArray);
            rowTotals.push(rowTotal);
        }
        console.log(observedValues);

        // Get grand total
        for (let i = 0; i < columnTotals.length; i++) {
            grandTotal += columnTotals[i];
        }

        // Get expected values
        for (let i = 0; i < rowCount; i++) {
            var tempArray = [];
            for (let j = 0; j < columnCount; j++) {
                tempArray.push(((rowTotals[i] * columnTotals[j]) / grandTotal).toFixed(2));
            }
            expectedValues.push(tempArray);
        }
        console.log(expectedValues);
        

        // input conditions
        document.getElementById("random").innerHTML = "<u>Random sample</u>: Must be determined by you. Is this a random sample or random assignment in an experiment?";
        document.getElementById("10percent").innerHTML = "<u>10% rule</u>: Must be determined by you. Is/are your sample size(s) smaller than 10% of the population?";
        var largeCounts = true;
        for (let i = 0; i < expectedValues.length; i++) {
            for (let j = 0; j < expectedValues[i].length; j++) {
                if (expectedValues[i][j] < 5) {
                    largeCounts = false;
                }
            }
        }
        if (largeCounts) {
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Smallest expected value is greater than 5.";
            document.getElementById("calculateSteps").style.display = "block";
            document.getElementById("concludeSteps").style.display = "block";
        } else {
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: <b>Not all expected values are greater than 5. Will not proceed with the test.</b>";
            document.getElementById("calculateSteps").style.display = "none";
            document.getElementById("concludeSteps").style.display = "none";
            document.getElementById("followUpSteps").style.display = "none";
            return;
        }

        var compVal2d = [];
        // Get comp values
        for (let i = 0; i < rowCount; i++) {
            var tempArray = [];
            for (let j = 0; j < columnCount; j++) {
                var component = Math.pow(observedValues[i][j] - expectedValues[i][j], 2) / expectedValues[i][j];
                tempArray.push(component);
                chiSquared += component;
                compVal2d.push(component);
            }
            compValues.push(tempArray);
        }
        console.log(compValues);

        // Create table with values into "expectedContainer" based on expected values 2d array
        var expectedTable = document.getElementById("expectedTable");
        expectedTable.innerHTML = "";
        for (let i = 0; i < rowCount; i++) {
            const row = expectedTable.insertRow(i);
            for (let j = 0; j < columnCount; j++) {
                const cell = row.insertCell(j);
                // Label expected values
                const p1 = document.createElement("p");
                p1.innerHTML = expectedValues[i][j];
                p1.style.color = "white";
                cell.appendChild(p1);
                // Label comp values
                const p2 = document.createElement("p");
                p2.innerHTML = compValues[i][j].toFixed(2);
                p2.style.color = "#e89734";
                cell.appendChild(p2);

            }
        }

        // Get first observed and expected values for equations
        var o1 = observedValues[0][0]; var e1 = expectedValues[0][0];

        // if (compVal2d.length < 2) {
        //     var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '} = ' + chiSquared + '$$';
        // }
        // else if (compVal2d.length < 3) {
        //     var o2 = observedValues[0][1]; var e2 = expectedValues[0][1];
        //     var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '}+\\frac{(' + o2 + '-' + e2 + ')^2}{' + e2 + '} = ' + chiSquared + '$$';
        // }
        // else if (compVal2d.length < 4) {
        //     var o2 = observedValues[0][1]; var e2 = expectedValues[0][1];
        //     try {
        //         var o3 = observedValues[0][2]; var e3 = expectedValues[0][2];
        //     }
        //     catch {
        //         var o3 = observedValues[1][0]; var e3 = expectedValues[1][0];
        //     }
        //     var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '}+\\frac{(' + o2 + '-' + e2 + ')^2}{' + e2 + '}+\\frac{(' + o3 + '-' + e3 + ')^2}{' + e3 + '} = ' + chiSquared + '$$';
        // }
        // else {
            // adds dots if more than 3 variables
        var o2 = observedValues[0][1]; var e2 = expectedValues[0][1];
        var oL = observedValues[observedValues.length - 1][observedValues[0].length - 1]; var eL = expectedValues[expectedValues.length - 1][expectedValues[0].length - 1];
        var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '}+\\frac{(' + o2 + '-' + e2 + ')^2}{' + e2 + '}+\\cdots+\\frac{(' + oL + '-' + eL + ')^2}{' + eL + '} = ' + chiSquared.toFixed(2) + '$$';
        // }

        // Get p-value
        pValue = 1 - jStat.chisquare.cdf(chiSquared, df);
        pValue = pValue.toFixed(4);

        // set formula
        var formula = '$$\\chi^2 = \\sum \\frac{(O - E)^2}{E}$$';
        
        // Take equation and typeset it
        console.log("Equation: " + equation); // Debugging statement
        document.getElementById("calculateOutput").innerHTML = equation;
        document.getElementById("formula").innerHTML = formula;
        MathJax.typesetPromise([document.getElementById("calculateOutput")], equation).then(function () {}).catch(function (err) {});
        MathJax.typesetPromise([document.getElementById("formula")], formula).then(function () {}).catch(function (err) {});

        
        // innerHTML for all
        document.getElementById("dfVal").innerHTML = "df = k - 1 = " + df;
        document.getElementById("pVal").innerHTML = "<b>p-value: " + pValue + "</b>";

        // make conclusion hypothesis by lowercasing the first letter of the alternative hypothesis
        const concAltHypo = alternativeHypothesis.charAt(0).toLowerCase() + alternativeHypothesis.slice(1);
        // Set conclusion
        if (pValue < alphaVal) {
            document.getElementById("concludeOutput").innerHTML = "Because our p-value " + pValue + " is less than our alpha value " + alphaVal + 
            ", we reject the null hypothesis as there is convincing evidence that " + concAltHypo;
            document.getElementById("followUpSteps").style.display = "block";
            
            var maxVal = 0;
            var maxI = 0;
            var maxJ = 0;
            for (let i = 0; i < rowCount; i++) {
                for (let j = 0; j < columnCount; j++) {
                    if (compValues[i][j] > maxVal) {
                        maxVal = compValues[i][j];
                        maxI = i;
                        maxJ = j;
                    }
                }
            }
            // follow up analysis based on largest component
            var rowNum = maxI + 1;
            var colNum = maxJ + 1;
            foundval = true;
            document.getElementById("followUpOutput").innerHTML = "The largest component of the chi-squared statistic is " + compValues[maxI][maxJ].toFixed(2) + 
            " which corresponds to Row " + rowNum + " Column " + colNum + ". The expected value for this category is " + expectedValues[maxI][maxJ]  + " while the observed value is " + observedValues[maxI][maxJ] + ".";
        } else {
            document.getElementById("concludeOutput").innerHTML = "Because our p-value " + pValue + " is greater than our alpha value " + alphaVal +
            ", we fail to reject the null hypothesis as there is not convincing evidence that " + concAltHypo;
        }
        
        document.getElementById("concludeOutput").style.color = "#e89734";

    }
    
    function createTable() {
        const rowCount = document.getElementById("rowCount").value;
        const columnCount = document.getElementById("columnCount").value;

        // check if rowcount and columncount are at least 2
        if (rowCount < 2 || columnCount < 2) {
            alert("Please enter a row count and column count of at least 2");
            return;
        }

        const table = document.createElement("table");
        table.id = "valuetable";

        for (let i = 0; i < rowCount; i++) {
            const row = document.createElement("tr");
            for (let j = 0; j < columnCount; j++) {
                const cell = document.createElement("td");
                const input = document.createElement("input");
                input.type = "number";
                input.placeholder = "Value";
                input.className = "tableinputclear";
                cell.appendChild(input);
                row.appendChild(cell);
            }
            table.appendChild(row);
        }

        // Create a table for null and alternative hypotheses
        const hypothesisTable = document.createElement("table");
        hypothesisTable.id = "hypothesisTable";
        hypothesisTable.innerHTML = "<tr><th>Hypotheses and Alpha Value</th></tr>";
        const nullHypoRow = document.createElement("tr");
            const nullHypothesisCell = document.createElement("td");
            const nullHypothesisInput = document.createElement("input");
            nullHypothesisInput.type = "text";
            // set id to "nullHypothesis" for later use
            nullHypothesisInput.id = "nullHypothesis";
            nullHypothesisInput.placeholder = "Null Hypothesis";
            nullHypothesisInput.classList.add("tableinputclear");
            nullHypothesisCell.appendChild(nullHypothesisInput);
            nullHypoRow.appendChild(nullHypothesisCell);
        const alternativeHypoRow = document.createElement("tr");
            const alternativeHypothesisCell = document.createElement("td");
            const alternativeHypothesisInput = document.createElement("input");
            alternativeHypothesisInput.type = "text";
            // set id to "alternativeHypothesis" for later use
            alternativeHypothesisInput.id = "alternativeHypothesis";
            alternativeHypothesisInput.placeholder = "Alternative Hypothesis";
            alternativeHypothesisInput.classList.add("tableinputclear");
            alternativeHypothesisCell.appendChild(alternativeHypothesisInput);
            alternativeHypoRow.appendChild(alternativeHypothesisCell);
        const alphaValRow = document.createElement("tr");
            const alphaValCell = document.createElement("td");
            const alphaValInput = document.createElement("input");
            alphaValInput.type = "text";
            // set id to "alphaVal" for later use
            alphaValInput.id = "alphaVal";
            alphaValInput.placeholder = "Alpha Value";
            alphaValInput.classList.add("tableinputclear");
            alphaValCell.appendChild(alphaValInput);
            alphaValRow.appendChild(alphaValCell);
        hypothesisTable.appendChild(nullHypoRow);
        hypothesisTable.appendChild(alternativeHypoRow);
        hypothesisTable.appendChild(alphaValRow);

        const tableContainer = document.getElementById("tableContainer");
        tableContainer.innerHTML = "<h3>Observed Values</h3>";
        tableContainer.appendChild(table);
        tableContainer.appendChild(hypothesisTable);

    }
</script>