---
layout: base
search_exclude: true
permalink: /x2/gof/
categories: Chi-Squared Tests
---

<!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script> -->
<head>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    <script type="text/javascript" id="jstat" async src="https://cdn.jsdelivr.net/npm/jstat@latest/dist/jstat.min.js">

    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>


<style>

    .tableinputclear {
        background-color: #062827;
        color: white;
        border: 0px;
        width: 99%;
    }
    
    .tableinputclear:focus {
        background-color: #062827;
        outline: none;
        color: white;
        border: 0px solid;
    }
    
    ::placeholder {
        font-style: italic;
        color: #a1a1a1;
    }

    .stepcard {
        background-color: #062827;
        color: white;
        border: 1px solid white;
        width: 99%;
        border-radius: 8px;
        padding: 1em;
        padding-top: 0;
        margin-bottom: 1em;
    }
    
    
</style>

<center>
    <div style="border: 2px solid white; border-radius: 35px; background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1))">
        <img src="{{baseurl}}/images/croppedcapy.png" width="70" height="70">
      </div>
</center>

<h2> Chi Squared Test - Goodness of Fit </h2>

<br/>

<form>
    <table>
        <tr>
            <td>
                <input class="tableinputclear" type="number" id="categoryCount" name="categoryCount" placeholder="# of Categories">
            </td>
        </tr>
    </table>
    <input class="button" type="button" value="Create Table" onclick="createTable()" style="margin-bottom: 2em">
</form>   
    <br/>

<div id="tableContainer"></div>

<input class="button" type="button" value="Run Test" onclick="calculate()">

<div id="resultsContainer" style="display: none">
    <h2>Results</h2>
    <div id="stateSteps" class="stepcard">
        <h3>State</h3>
        <p id="stateHo"></p>
        <p id="stateHa"></p>
        <p id="stateAlpha"></p>
    </div>
    <div id="planSteps" class="stepcard">
        <h3>Plan - Chi-squared test for goodness of fit</h3>
        <p id="random"></p>
        <p id="10percent"></p>
        <p id="largecounts"></p>
    </div>
    <div id="calculateSteps" class="stepcard">
        <h3>Calculate</h3>
        <p id="formula" style="height: 90px; max-height: 100px; overflow: auto; width: 100%"></p>
        <p id="calculateOutput" style="height: 90px; max-height: 100px; overflow: auto; width: 100%"></p>
        <p id="dfVal"></p>
        <p id="pVal"></p>
        <p style="color: rgb(175, 175, 175)"><i>Make sure to draw a chi-squared curve, label it, and shade in the appropriate p-value.</i></p>
    </div>
    <div id="concludeSteps" class="stepcard">
        <h3>Conclude</h3>
        <p id="concludeOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i> Please keep in mind that this conclusion is based on the hypotheses that were put into the table, but will not always reflect what a proper conclusion should look like in context.</i></p>
    </div>
    <div id="followUpSteps" class="stepcard">
        <h3>Follow Up</h3>
        <p id="followUpOutput"></p>
        <p style="color: rgb(175, 175, 175)"><i>For the follow up, also try to keep it in context whenever possible.</i></p>
    </div>
</div>

<script>
    function createTable() {
        // Get the number of categories from the input field
        const categoryCount = parseInt(document.getElementById("categoryCount").value);
        if (categoryCount < 2 || isNaN(categoryCount)) {
            alert("Please enter a number greater than 1");
            return;
        }
        // Create a table element
        const table = document.createElement("table");
        table.id = "valueTable";
        table.innerHTML = "<tr><th>Observed</th><th>Expected</th></tr>";
        // Add rows to the table
        for (let i = 0; i < categoryCount; i++) {
            const row = document.createElement("tr");
            const observedCell = document.createElement("td");
            const observedInput = document.createElement("input");
            observedInput.type = "number";
            observedInput.placeholder = "Observed #" + (i + 1);
            observedInput.classList.add("tableinputclear");
            observedCell.appendChild(observedInput);

            const expectedCell = document.createElement("td");
            const expectedInput = document.createElement("input");
            expectedInput.type = "text";
            expectedInput.placeholder = "Expected #" + (i + 1);
            expectedInput.classList.add("tableinputclear");
            expectedCell.appendChild(expectedInput);

            row.appendChild(observedCell);
            row.appendChild(expectedCell);
            table.appendChild(row);
        }

        // Create a table for null and alternative hypotheses
        const hypothesisTable = document.createElement("table");
        hypothesisTable.id = "hypothesisTable";
        hypothesisTable.innerHTML = "<tr><th>Hypotheses and Alpha Value</th></tr>";
        const nullHypoRow = document.createElement("tr");
            const nullHypothesisCell = document.createElement("td");
            const nullHypothesisInput = document.createElement("input");
            nullHypothesisInput.type = "text";
            // set id to "nullHypothesis" for later use
            nullHypothesisInput.id = "nullHypothesis";
            nullHypothesisInput.placeholder = "Null Hypothesis";
            nullHypothesisInput.classList.add("tableinputclear");
            nullHypothesisCell.appendChild(nullHypothesisInput);
            nullHypoRow.appendChild(nullHypothesisCell);
        const alternativeHypoRow = document.createElement("tr");
            const alternativeHypothesisCell = document.createElement("td");
            const alternativeHypothesisInput = document.createElement("input");
            alternativeHypothesisInput.type = "text";
            // set id to "alternativeHypothesis" for later use
            alternativeHypothesisInput.id = "alternativeHypothesis";
            alternativeHypothesisInput.placeholder = "Alternative Hypothesis";
            alternativeHypothesisInput.classList.add("tableinputclear");
            alternativeHypothesisCell.appendChild(alternativeHypothesisInput);
            alternativeHypoRow.appendChild(alternativeHypothesisCell);
        const alphaValRow = document.createElement("tr");
            const alphaValCell = document.createElement("td");
            const alphaValInput = document.createElement("input");
            alphaValInput.type = "text";
            // set id to "alphaVal" for later use
            alphaValInput.id = "alphaVal";
            alphaValInput.placeholder = "Alpha Value";
            alphaValInput.classList.add("tableinputclear");
            alphaValCell.appendChild(alphaValInput);
            alphaValRow.appendChild(alphaValCell);
        hypothesisTable.appendChild(nullHypoRow);
        hypothesisTable.appendChild(alternativeHypoRow);
        hypothesisTable.appendChild(alphaValRow);



        // Add the table to the page
        const tableContainer = document.getElementById("tableContainer");
        tableContainer.innerHTML = "";
        tableContainer.appendChild(table);
        tableContainer.appendChild(hypothesisTable);

        // generate
    }

    function calculate() {
        const table = document.querySelector("#valueTable");
        const rows = table.querySelectorAll("tr");
        const data = [];
        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].querySelectorAll("td");
            const observed = cells[0].querySelector("input").value;
            if (isNaN(observed) || cells[1].querySelector("input").value == "") {
                alert("Please enter all observed and expected values!");
                return;
            }
            const expected = parseFloat(cells[1].querySelector("input").value).toFixed(2);
            data.push({ observed, expected });
        }

        // unhide results container
        document.getElementById("resultsContainer").style.display = "block";
        document.getElementById("followUpSteps").style.display = "none";

        // get hypotheses and put them in state box
        const nullHypothesis = document.getElementById("nullHypothesis").value;
            document.getElementById("stateHo").innerHTML = "H<sub>o</sub>: " + nullHypothesis;
        const alternativeHypothesis = document.getElementById("alternativeHypothesis").value;
            document.getElementById("stateHa").innerHTML = "H<sub>a</sub>: " + alternativeHypothesis;
        
        // get alpha value and check if it is between 0 and 1
        const alphaVal = parseFloat(document.getElementById("alphaVal").value);
        if (document.getElementById("alphaVal") == "") {
            alert("Please enter a valid alpha value!");
            return;
        }
        else if (alphaVal >= 1 || alphaVal <= 0) {
            alert("Alpha value must be between 0 and 1!");
            return;
        }
        
        document.getElementById("stateAlpha").innerHTML = "α = " + alphaVal;

        // input conditions
        document.getElementById("random").innerHTML = "<u>Random sample</u>: Must be determined by you. Is this a random sample or random assignment in an experiment?";
        document.getElementById("10percent").innerHTML = "<u>10% rule</u>: Must be determined by you. Is your sample size smaller than 10% of the population?";
        var largeCounts = true;
        for (let i = 0; i < data.length; i++) {
            if (data[i].expected < 5) {
                largeCounts = false;
            }
        }
        if (largeCounts) {
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: Smallest expected value is greater than 5.";
            document.getElementById("calculateSteps").style.display = "block";
            document.getElementById("concludeSteps").style.display = "block";
        } else {
            document.getElementById("largecounts").innerHTML = "<u>Large counts</u>: <b>Not all expected values are greater than 5. Will not proceed with the test.</b>";
            document.getElementById("calculateSteps").style.display = "none";
            document.getElementById("concludeSteps").style.display = "none";
            document.getElementById("followUpSteps").style.display = "none";
            return;
        }

        // calculate chi squared
        var chiSquared = 0;
        var components = [];
        for (let i = 0; i < data.length; i++) {
            var tempComponent = Math.pow(data[i].observed - data[i].expected, 2) / data[i].expected;
            components.push(tempComponent);
            chiSquared += tempComponent;
        }
        chiSquared = chiSquared.toFixed(2);

        // Get first observed and expected values for equations
        var o1 = data[0].observed; var e1 = data[0].expected;

        // Set equation based on length of data (category numbers)
        if (data.length < 2) {
            var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '} = ' + chiSquared + '$$';
        }
        else if (data.length < 3) {
            var o2 = data[1].observed; var e2 = data[1].expected;
            var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '}+\\frac{(' + o2 + '-' + e2 + ')^2}{' + e2 + '} = ' + chiSquared + '$$';
        }
        else if (data.length < 4) {
            var o2 = data[1].observed; var e2 = data[1].expected;
            var o3 = data[2].observed; var e3 = data[2].expected;
            var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '}+\\frac{(' + o2 + '-' + e2 + ')^2}{' + e2 + '}+\\frac{(' + o3 + '-' + e3 + ')^2}{' + e3 + '} = ' + chiSquared + '$$';
        }
        else {
            // adds dots if more than 3 variables
            var o2 = data[1].observed; var e2 = data[1].expected;
            var oL = data[data.length - 1].observed; var eL = data[data.length - 1].expected;
            var equation = '$$\\chi^2 = \\frac{(' + o1 + '-' + e1 + ')^2}{' + e1 + '}+\\frac{(' + o2 + '-' + e2 + ')^2}{' + e2 + '}+\\cdots+\\frac{(' + oL + '-' + eL + ')^2}{' + eL + '} = ' + chiSquared + '$$';
        }

        // set formula
        var formula = '$$\\chi^2 = \\sum \\frac{(O - E)^2}{E}$$';
        
        
        // Take equation and typeset it
        console.log("Equation: " + equation); // Debugging statement
        document.getElementById("calculateOutput").innerHTML = equation;
        document.getElementById("formula").innerHTML = formula;
        MathJax.typesetPromise([document.getElementById("calculateOutput")], equation).then(function () {}).catch(function (err) {});
        MathJax.typesetPromise([document.getElementById("formula")], formula).then(function () {}).catch(function (err) {});

        // Set df and p-value
        var df = data.length - 1;
        var pValue = 1 - jStat.chisquare.cdf(chiSquared, df);
        pValue = pValue.toFixed(4);
        document.getElementById("dfVal").innerHTML = "df = k - 1 = " + df;
        document.getElementById("pVal").innerHTML = "<b>p-value: " + pValue + "</b>";

        // make conclusion hypothesis by lowercasing the first letter of the alternative hypothesis
        const concAltHypo = alternativeHypothesis.charAt(0).toLowerCase() + alternativeHypothesis.slice(1);
        // Set conclusion
        if (pValue < alphaVal) {
            document.getElementById("concludeOutput").innerHTML = "Because our p-value " + pValue + " is less than our alpha value " + alphaVal + 
            ", we reject the null hypothesis as there is convincing evidence that " + concAltHypo;
            document.getElementById("followUpSteps").style.display = "block";
            // follow up analysis based on largest component
            for (const component in components) {
                if (components[component] == Math.max(...components)) {
                    const catNum = parseInt(component) + 1;
                    document.getElementById("followUpOutput").innerHTML = "The largest component of the chi-squared statistic is " + components[component].toFixed(2) + 
                    " which corresponds to category #" + catNum + ". The expected value for this category is " + data[component].expected + " while the observed value is " + data[component].observed + ".";
                }
            }
        } else {
            document.getElementById("concludeOutput").innerHTML = "Because our p-value " + pValue + " is greater than our alpha value " + alphaVal +
            ", we fail to reject the null hypothesis as there is not convincing evidence that " + concAltHypo;
        }
        document.getElementById("concludeOutput").style.color = "#e89734";

    }
    


</script>