---
layout: base
search_exclude: true
permalink: /calculators/
title: Calculators
---



<center>


<h2>Calculators and Modeling Applets</h2>

<h3>Unit 1 - Exploring One-Variable Data </h3>
<button class="button" onclick="window.location.href='{{baseurl}}/onecat-single-bar/'" title="One Category Bar Graph Generator">Bar Graph Generator</button>

<!-- <h3>Unit 2</h3> -->

<h3>Unit 3 - Collecting Data</h3>
<button class="button" onclick="window.location.href='{{baseurl}}/random'" title="Random Number Generator">Random Number Generator</button>

<h3>Unit 4 - Probability, Random Variables, and Probability Distributions</h3>
<button class="button" onclick="window.location.href='{{baseurl}}/binomial-distributions/'" title="Binomial Distributions">Binomial Distributions</button>
<button class="button" onclick="window.location.href='{{baseurl}}/geometric-distributions/'" title="Geometric Distributions">Geometric Distributions</button>



<!-- <h3>Unit 5</h3> -->

<h3>Unit 6 - Inferences for Proportions </h3>
<button class="button" onclick="window.location.href='{{baseurl}}/proportion/onesample/test/'" title="One-Sample z-Test">One-Sample z-Test</button>
<button class="button" onclick="window.location.href='{{baseurl}}/proportion/onesample/interval/'" title="One-Sample z-Interval">One-Sample z-Interval</button>
<button class="button" onclick="window.location.href='{{baseurl}}/proportion/twosample/test/'" title="Two-Sample (2-Prop) z-Test">Two-Sample (2-Prop) z-Test</button>
<button class="button" onclick="window.location.href='{{baseurl}}/proportion/twosample/interval/'" title="Two-Sample (2-Prop) z-Interval">Two-Sample (2-Prop) z-Interval</button>

<h3>Unit 7 - Inferences for Means </h3>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/onesample/test/'" title="One-Sample t-Test">One-Sample t-Test</button>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/onesample/interval/'" title="One-Sample t-interval">One-Sample t-Interval</button>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/twosample/test/'" title="Two-Sample t-Test">Two-Sample t-Test</button>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/twosample/interval/'" title="Two-Sample t-Interval">Two-Sample t-Interval</button>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/pairedt/test/'" title="Paired t-Test">Paired t-Test</button>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/pairedt/interval/'" title="Paired t-Interval">Paired t-Interval</button>

<h3>Unit 8 - Chi-Squared Inferences</h3>
<button class="button" onclick="window.location.href='{{baseurl}}/x2/gof/'" title="Chi-Squared Test for Goodness of Fit">Chi-Squared - Goodness of Fit</button>
<button class="button" onclick="window.location.href='{{baseurl}}/x2/2-way/'" title="2-Way Chi-Squared Test (Independence and Homogeneity)">Chi-Squared - 2-Way Test</button>

<h3>Unit 9 - Slope Inferences</h3> 
<button class="button" onclick="window.location.href='{{baseurl}}/slope/test/'" title="Slope Test for β">Slope Test for β</button>


</center>