---
layout: base
search_exclude: true
permalink: /calculators/
title: Calculators
---

{% include capybar.html %}

<center>


<h2>Calculators and Modeling Applets</h2>

<h3>Unit 1 - Exploring One-Variable Data </h3>
<button class="button" onclick="window.location.href='{{baseurl}}/onecat-single-bar/'">Bar Graph Generator</button>

<!-- <h3>Unit 2</h3>

<h3>Unit 3</h3>

<h3>Unit 4</h3>

<h3>Unit 5</h3> -->

<h3>Unit 6 - Inferences for Means </h3>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/onesample/test/'">One-Sample t-Test</button>
<button class="button" onclick="window.location.href='{{baseurl}}/mean/onesample/interval/'">One-Sample t-Interval</button>

<!-- <h3>Unit 7</h3>  -->

<h3>Unit 8 - Chi-Squared Inferences</h3>
<button class="button" onclick="window.location.href='{{baseurl}}/x2/gof/'">Chi-Squared - Goodness of Fit</button>
<button class="button" onclick="window.location.href='{{baseurl}}/x2/2-way/'">Chi-Squared - 2-Way Test</button>

<!-- <h3>Unit 9</h3> -->

</center>