---
layout: base
search_exclude: true
permalink: /resources/
categories: AP
title: More Resources
---

{% include capybar.html %}

<center>

<h2>Other Resources</h2>

<button class="button" onclick="window.location.href='{{baseurl}}/random'" title="Random Number Generator">Random Number Generator</button>
<button class="button" onclick="window.location.href='https://apcentral.collegeboard.org/courses/ap-statistics'" title="AP Statistics Course - AP Central">AP Statistics Course and Exam Description</button>
<button class="button" onclick="window.location.href='https://stapplet.com/'" title="Stapplet Statistics Tools">Stapplet - More Statistics Tools</button>


</center>
