---
layout: base
search_exclude: true
permalink: /units/
title: AP Units
---

<center>
    <div style="border: 2px solid white; border-radius: 35px; background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1))">
        <img src="{{baseurl}}/images/croppedcapy.png" width="70" height="70">
      </div>
</center>

<h2>Pages Sorted By Units</h2>

<h3>Unit 1 - Exploring One-Variable Data </h3>
<button class="button" onclick="window.location.href='{{baseurl}}/onecat-single-bar/'">Bar Graph Generator</button>

<h3>Unit 2</h3>

<h3>Unit 3</h3>

<h3>Unit 4</h3>

<h3>Unit 5</h3>

<h3>Unit 6</h3>

<h3>Unit 7</h3>

<h3>Unit 8 - Chi-Squared Inferences</h3>
<button class="button" onclick="window.location.href='{{baseurl}}/x2/gof/'">Chi-Squared - Goodness of Fit</button>
<button class="button" onclick="window.location.href='{{baseurl}}/x2/2-way/'">Chi-Squared - 2-Way Test</button>

<h3>Unit 9</h3>