$high-emph: rgba(rgb(255, 255, 255), 0.87);
$med-emph: rgba(white, 0.69); //Noicee
$low-emph: rgba(white, 0.38);
$dark-green : #062827; 
// $dark-green : #1F1B24;
$overlay: mix($dark-green, white, 95%);
$overlay-light: mix($dark-green, white, 86%);

html, body, textarea, select {   
  color: $high-emph !important;
  background-color: $dark-green !important;
  background-image: linear-gradient(to bottom, $dark-green, #021312);
}

a {
    color: #64d2e8 !important;
}

a:hover {
    color:$high-emph !important;
}

.centerholder {
    display: flex;
    justify-content: center;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}


button, .button {
    // background-image: linear-gradient(to right, #d46c04 20%, white , #07aacc 80%);
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    color: black;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
    font-weight: normal;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    transition: background-color 0.25s ease-in-out 50ms;
    width: 65%;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    transition-delay: 0.1s;
}

#maincapybar {
    border: 2px solid white;
    border-radius: 35px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1));
    width: 65%;
    height: 80px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

#maincapybar:hover {
    border: 2px solid white;
    border-radius: 35px;
    width: 95%;
    height: 210px;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255, 1));
    animation-direction: alternate;
    -webkit-transition: all 0.5s;
    transition: all 0.5s ease-in-out 0s;
    cursor: pointer;
}

.capybarimg {
    width: 75px;
    height: 75px;
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s;
}

#maincapybar:hover .capybarimg {
    width: 200px;
    height: 200px;
    animation-direction: alternate;
    -webkit-transition: all 0.5s;
    transition: all 0.5s ease-in-out 0s;
}

button:hover, .button:hover {
    transform: translate(0px, 0px);
    width:70%;
    background-color: lightblue;
    animation-direction: alternate;
    -webkit-transition: all 1.5s;
    transition: all 0.1s ease-in-out 0s;
}

.card {
    background-color: white;
    border-color: $overlay-light;
}

@keyframes background-pan {
    from {
      background-position: 0% center;
    }
    to {
        background-position: -500% center;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');

.site-title, .site-title:visited {
    // color: $high-emph !important;
    animation: background-pan 20s linear infinite;
    background: linear-gradient(to right, white, #d46c04, white, #07aacc, white);
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Merriweather', serif;
}

.gradient-dynam {
    animation: background-pan 20s linear infinite;
    background: linear-gradient(to right, white, #d46c04, white, #07aacc, white);
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.site-title::before {
	content: url("/images/croppedcapysmall.png");
	display: inline-block;
	position: relative;
	width: 37px;
    height: 37px;
	top: 5px;
}

.site-nav, .page-link {
    color: $high-emph !important;
    background-color: $dark-green;
    border-color: $overlay-light;
}

* {
    scrollbar-color: $dark-green $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
    background-color: $overlay;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-green !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-green;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-green !important;
    filter: brightness(80%);
}

canvas {
    filter: invert(100%);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}